<div class="uk-container uk-container-xsmall uk-text-center">
  <h1>COMPUTER VISION</h1>
  <div class="emoji"><h1>👁</h1></div>
  <div uk-slider="autoplay: true center: true">
    <div class="uk-cover-container">
      <ul class="uk-slider-items uk-child-width-1-4 uk-grid-match">
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider1.jpg' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">EMOTION DETECTOR</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider2.jpg' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">2</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider3.jpg' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">3</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider4.png' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">4</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider5.png' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">5</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider6.png' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">6</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider7.jpg' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">7</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider8.jpg' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">8</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider9.jpg' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">9</h1>
              </div>
          </li>
          <li class="uk-transition-toggle uk-width-1-1" tabindex="0">
              <%= image_tag 'slider10.png' %>
              <div class="uk-position-center uk-panel">
                <h1 class="uk-transition-slide-bottom-small">10</h1><
                /div>
          </li>
      </ul>
      <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>

  <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
      <div>
          <div class="uk-card uk-card-hover uk-card-body">
              <h3 class="uk-card-title">Hover</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-hover uk-card-body">
              <h3 class="uk-card-title">Default</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
              <h3 class="uk-card-title">Primary</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light">
              <h3 class="uk-card-title">Secondary</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
      </div>
  </div>
</div>


